  <div >
    <div><a href="/rock">Play Rock</a></div>
    <div><a href="/paper">Play Paper</a></div>
    <div><a href="/scissors">Play Scissors</a></div>
  </div>
<h1> Welcome to Rock-Paper-Scissors!<!h1>
<body>

</body>
 
