  <div >
    <div><a href="/rock">Play Rock</a></div>
    <div><a href="/paper">Play Paper</a></div>
    <div><a href="/scissors">Play Scissors</a></div>
  </div>

<p ><strong>We played scissors!</strong></p>
<p><strong> They played <%= @option %>!</strong> </p>
<% if @option == "scissors" %>
  <p><strong>We tied!</strong></p>
<% elsif @option == "rock" %>
  <p><strong>We lost</strong><!p>
<% else %>
  <p><strong>We won!</strong></p>
<% end %>

 <div ><div><a href="/">Rules</a></div></div>
